*{
  box-sizing:border-box
}
div{
  display: block
}
.App {
  text-align: center;
  margin: 1rem;
  border: 20px solid rgb(0, 0, 0);
}


input{
  /* font-size: large;
  padding: 1rem;
  /* height: 80%; */
  /* border-radius:  1rem; */ 
  margin: 0.5rem;
  align-items: center;
  padding: 1rem;
    font-size: 1.1rem;
    font-family: inherit;
    border-radius: 1rem;
}
#in{
  width: 50%;
  background-color: rgb(0, 0, 0);
  color: white;
}
/* img{
  
  width: 60%;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}
.data{
  margin-left: 5rem;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  border-radius: 1rem solid rgb(241, 59, 59);
}
.show{
  margin-left: 5rem;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  border-radius: 1rem solid rgb(54, 36, 36);
}
.content{
  margin: 2.4rem 0;
  display: block;
  width: 60%;
  border-radius: 1rem;

  background-color: #6a6a6a;
  box-shadow: grey;
 
}
.host{
  margin: 2.4rem 0;
  display: block;
  width: 60%;
  border-radius: 1rem;

  background-color: #c6e5fc;
  box-shadow: grey;
 
}
.details{
  margin-top:2rem;
  padding: 1rem;
  position: relative;
  bottom: 0;
  align-content: flex-end;
}
.name{
  margin-top:2rem;
  padding: 1rem;
  position: relative;
  bottom: 0;
  align-content: flex-end;
}
.pic img{
  width: 85%;
  height:25%;
}

.img img{
  
  width: 85%;
  height:25%;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 694px) {
  .show{
    grid-template-columns: repeat(2,1fr);
  }
  .data{
    grid-template-columns: repeat(2,1fr);
  }
  
}
@media screen and (max-width: 550px) {
  .show{
    grid-template-columns: repeat(1,1fr);
    justify-content: center;
  }
  .data{
    grid-template-columns: repeat(1,1fr);
  }
  
}
